*{
    margin: 0;
    padding: 0;
}
*, *:after, *::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #8b4513;
    color: #b3d4fc;
    text-shadow: none;
}
html{
    font-size: 62.5%;
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}
html,body{
    font-family:Arial,Verdana,Sans-serif;
    background-color: #d3807c;
    min-width: 200px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
}
.bg-color{
    height: 100%;
    background-color:#d3807c;
    background-size: cover;
    font-size: 2rem;
    padding-top: 8rem;
}
.roll a{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.1rem;
    margin: 0.15rem 0.25rem;
    text-decoration: none;
    overflow: hidden;
    padding: 0 4px;
}
.roll a span::before{
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.roll a span{
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
}
.roll a:hover span,.roll a:focus span{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    color: #8b4513;
}

.page a{
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}
.page a span{
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;
    background: #587285;
    box-shadow: inset 0 3px #2f4351;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.page a span::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #2f4351;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}
.page a:hover span,
.page a:focus span {
    background: #2f4351;
}

.page a:hover span::before,
.page a:focus span::before {
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}
canvas{
    margin: 8rem auto;
    display: none;
}
@keyframes clouds{
    0% {
        transform: translate(0, 0px);
    }
    100% {
        transform: translate(1440px, 0);
    }
}
#social {
    background: #e18d87 url(./img/city.svg) left bottom repeat-x;
    margin-top: -20px;
    min-height: 560px;
    overflow: hidden;
}
#social .clouds {
    background: url(./img/clouds-city.svg);
    background-repeat: repeat-x;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    animation: clouds 300s linear infinite;
}
#social .left-first-house {
    background: url(./img/left-first-house.svg) left top no-repeat;
    right: 90%;
    width: 192px;
    z-index: 3;
}
#social .left-second-house {
    background: url(./img/left-second-house.svg) left top no-repeat;
    right: 80%;
    width: 274px;
    z-index: 2;
}
#social .left-third-house {
    background: url(./img/left-third-house.svg) left top no-repeat;
    right: 70%;
    width: 384px;
    z-index: 1;
}
#social .right-first-house {
    background: url(./img/right-first-house.svg) right top no-repeat;
    left: 86%;
    width: 270px;
    z-index: 6;
}
#social .right-second-house {
    background: url(./img/right-second-house.svg) right top no-repeat;
    left: 78%;
    width: 164px;
    z-index: 5;
}
#social .right-third-house {
    background: url(./img/right-third-house.svg) right top no-repeat;
    left: 70%;
    width: 384px;
    z-index: 4;
}
#social .block-inner {
    padding-top: 40px;
    position: relative;
    z-index: 7;
}
.active .block {
    margin-top: 100px;
    opacity: 1;
}
.block-inner {
    margin: 200px auto 0;
    text-align: center;
    width: 80%;
}
.clear {
    clear: both;
}
.block {
    margin-top: 200px;
    opacity: 0;
    transition: all 0.4s ease;
}
#social .house {
    height: 100%;
    position: absolute;
    top: 0;
}
.row {
    min-height: 540px;
    padding: 10px;
    position: relative;
}
.img-box{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img-box a{
    position: relative;
}
.img-box a img{
    width: 20rem;
}
.img-box a .onhover{
    position: absolute;
    opacity: 0;
    top: 0;
    transition: opacity 1s;
}
.img-box a:hover .onhover{
    opacity: 1;
}
