<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3d</title>
    <style type="text/css">
        body{
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <canvas style="background-color: #000;" width="500" height="500"></canvas>

    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="ball.js"></script>
    <script type="text/javascript">
    var canvas = document.querySelector("canvas"),
        context = canvas.getContext("2d");
    /* gen: 树枝的节点代数，默认是6个节点*/
    /* angle: 每次在节点树枝的旋转角度*/
    /* branchLength: 树枝的长度*/

    function Tree(color, angle, genNum, branchLength){
        this.x = 0;
        this.y = 0;
        this.xpos = 0;
        this.ypos = 0;
        this.zpos = 0
        this.scaleX = 0.85;
        this.scaleY = 0.85;
        this.gen = 0;
        this.alpha = 1;
        this.color = color;
        this.angle = (angle === undefined) ? 0.3 : angle;
        this.genNum = (genNum === undefined) ? 6 : genNum;
        this.branchLength = (branchLength === undefined) ? 40 : branchLength;
        
    }

    Tree.prototype.draw = function(ctx){
        ctx.save()
        ctx.translate(this.x, this.y);
        this.branch(ctx, 0);           //初始角度为0， 绘制树干
        ctx.restore();
    }

    Tree.prototype.branch = function(ctx, initAngle){
        this.gen++;
        ctx.save();
        ctx.strokeStyle = this.color;
        ctx.rotate(initAngle);
        ctx.scale(this.scaleX, this.scaleY);

        ctx.beginPath();
        ctx.moveTo(0, 0);
        ctx.translate(0, -this.branchLength);
        ctx.lineTo(0, 0);
        ctx.stroke();

        if(this.gen <= this.genNum){       //判断当前的节点代数是否大于设置的节点数
            this.branch(ctx, this.angle);   //画右边树枝
            this.branch(ctx, -this.angle);  //画左侧树枝
        }
        ctx.restore();

        this.gen--;
    }
    var tree = new Tree("red");
    tree.x = 100;
    tree.y = 200;
    tree.draw(context);
    </script>
</body>
</html>