<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>学习笔记</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
<div class="container">
    <header>
        <img src="../../img/customization.svg">
    </header>
    <nav>
        <ul>
            <a href=""><li>11111</li></a>
            <a href=""><li>222222</li></a>
            <a href=""><li>333333</li></a>
            <a href=""><li>444444</li></a>
            <a href=""><li>5555555</li></a>
            <a href=""><li>666666666</li></a>
        </ul>
    </nav>
    <div class="content">
        <ul>
            <a href=""><li>11111</li></a>
            <a href=""><li>222222</li></a>
            <a href=""><li>333333</li></a>
            <a href=""><li>444444</li></a>
            <a href=""><li>5555555</li></a>
            <a href=""><li>666666666</li></a>
        </ul>
    </div>
</div>
</body>
</html>